html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    /*white-space: nowrap;*/
    width: 1px;
}


ion-icon {
    font-size: 64px;
}
