html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
}

ion-icon {
    font-size: 2rem;
    /*color: #ffffff;*/
}

/* Screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    margin: 0.5rem 0;
}

.main-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #fbfafa;
    box-shadow: inset 0px 2px 3px #cccccc;
}

/*.main-cta::before {*/
/*    content: "";*/
/*    position: fixed;*/
/*    top: -10px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 10px;*/
/*    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);*/
/*    z-index: 100;*/
/*}*/

.main-cta__hotdog {
    display: flex;
    flex: 1;
}

.main-cta__message {
    display: flex;
    flex: 1;
    color: #555559;
    font-size: 1.5rem;
    max-width: calc(100% - 10rem);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.main-cta__button {
    display: flex;
    flex: 1;
    padding: 1.0rem 1.5rem;
    border-radius: 10px;
    background-color: #286782;
    color: #ffffff;
}

.hotdog-types {

}

.hotdog-types__description {
    display: flex;
    width: 180px;
}

.hotdog-types__description:before {
    content: "-";
    padding-right: 4px;
}
